#main{
    text-align: center;
}
#img-div{
    width: 100%;
}
#image{
    height: auto;
}
#tribute-info{
    width: 50%;
    margin: 0 auto;
    display: block;
}
#unordered-list{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}